In [1]:
import pandas as pd

In [7]:
weather = pd.read_csv('~\\Desktop\\us_weather.csv', index_col= "DATE")

In [8]:
weather.head()

,STATION,NAME,ACMH,ACSH,AWND,DAPR,FMTM,FRGT,MDPR,PGTM,...,WT01,WT02,WT03,WT04,WT05,WT07,WT08,WT09,WT16,WT18
DATE,,,,,,,,,,,,,,,,,,,,,
1960-01-01,USW00023230,"OAKLAND INTERNATIONAL AIRPORT, CA US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-01-02,USW00023230,"OAKLAND INTERNATIONAL AIRPORT, CA US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
1960-01-03,USW00023230,"OAKLAND INTERNATIONAL AIRPORT, CA US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-01-04,USW00023230,"OAKLAND INTERNATIONAL AIRPORT, CA US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-01-05,USW00023230,"OAKLAND INTERNATIONAL AIRPORT, CA US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN

In [12]:
weather.apply(pd.isnull).sum()/weather.shape[0]

STATION    0.000000
NAME       0.000000
ACMH       0.661355
ACSH       0.661355
AWND       0.510344
DAPR       0.999536
FMTM       0.873095
FRGT       0.999884
MDPR       0.999536
PGTM       0.506751
PRCP       0.016283
SNOW       0.340557
SNWD       0.333372
TAVG       0.881961
TMAX       0.000637
TMIN       0.000811
TSUN       0.933302
WDF1       0.661355
WDF2       0.510286
WDF5       0.515385
WDFG       0.752738
WSF1       0.661355
WSF2       0.510228
WSF5       0.515385
WSFG       0.752738
WT01       0.778293
WT02       0.980124
WT03       0.992641
WT04       0.999768
WT05       0.998377
WT07       0.999884
WT08       0.812772
WT09       0.999884
WT16       0.886713
WT18       0.999826
dtype: float64

Since most of the columns have null values we can take only the relevant column for predictions.

In [14]:
core_weather = weather[['PRCP', 'SNOW','SNWD','TMAX','TMIN']].copy()

In [15]:
core_weather.columns = [" Precipitation",'Snowfall',' Snow depth','Temp Max','Temp Min']

In [16]:
core_weather

             Precipitation  Snowfall   Snow depth  Temp Max  Temp Min
DATE
1960-01-01            0.00       0.0          0.0      49.0      30.0
1960-01-02            0.00       0.0          0.0      49.0      29.0
1960-01-03            0.00       0.0          0.0      54.0      35.0
1960-01-04            0.00       0.0          0.0      54.0      36.0
1960-01-05            0.00       0.0          0.0      55.0      33.0
...                    ...       ...          ...       ...       ...
2023-02-25            0.00       NaN          NaN      51.0      39.0
2023-02-26            0.40       NaN          NaN      50.0      44.0
2023-02-27            0.37       NaN          NaN      51.0      37.0
2023-02-28            0.45       NaN          NaN      54.0      40.0
2023-03-01            0.00       NaN          NaN      56.0      38.0

[17257 rows x 5 columns]